:root {
    box-sizing: border-box;
    --transition: .45s cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    margin: 0;
    background-color: #000;
    overflow: overlay;
    transition: var(--transition);
}

button,
button:hover {
    border: 0;
    padding: 0;
    outline: 0;
}

img {
    object-fit: contain;
    overflow: auto;
    transition: var(--transition);
}

img.hidden {
    opacity: 0;
}

.disable-hover {
    pointer-events: none;
}

.flex-row {
    display: flex;
    margin: 0 auto;
    align-items: center;
    max-width: 60rem;
}

.merch {
    background-color: #eee;
}

.merch,
#dragNdrop {
    position: relative;
    width: 50%;
    height: 457px;
    margin-bottom: 20px;
}

.merch:nth-child(2),
#dragNdrop:nth-child(2) {
    margin-left: 20px;
}

.merch img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
}

#blurImg {
    position: absolute;
    filter: blur(1rem);
    z-index: -1;
}

.merch .bg {
    width: 100%;
    height: 100%;
    background-size: 500px !important;
    background-position: top !important;
    background-repeat: no-repeat;
    position: relative;
}

#dragNdrop {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    z-index: 1;
}

#dragNdrop img {
    height: 75%;
    width: 75%;
}

#dragNdrop svg {
    position: absolute;
    width: 15%;
    border: dashed 0.4rem currentColor;
    padding: 15%;
    border-radius: 25%;
    transition: var(--transition);
}

@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}

#dragNdrop.loading {
    box-shadow: 0 0 0 150vh black;
}

#dragNdrop.loading svg {
    opacity: 1 !important;
    border-radius: 50%;
    color: transparent !important;
    padding: 15% !important;
    border: dashed 1rem white;
    background-color: black;
    animation: loading 2s linear infinite;
    transition-duration: 1s;
}

#dragNdrop:not(.selected).hover svg,
#dragNdrop:not(.selected) svg:hover {
    padding: 30%;
    cursor: pointer;
    color: #0c0;
}

#dragNdrop.selected {
    cursor: pointer;
}

#dragNdrop.selected svg {
    opacity: 0;
    color: #fff;
    filter: drop-shadow(0px 0px 0.5vw #000);
}

#dragNdrop.selected.hover #normalImg,
#dragNdrop.selected:hover #normalImg {
    opacity: 0;
}

#dragNdrop.selected.hover svg,
#dragNdrop.selected:hover svg {
    padding: 30%;
    opacity: 1;
}

.merch#sign img {
    width: 500px;
    height: 500px;
    transform: translate(-244px, -229px) scale(0.43) perspective(1200px) rotateY(10deg) rotateZ(3deg) skew(2deg, 5deg);
}

.merch#books {
    width: 100%;
    height: 536px;
}

.merch#books .bg {
    background-size: 984px !important;
}

.merch#books img:first-child {
    transform: translate(-357px, -133.5px) rotateZ(-48deg) scale(0.26) skewY(10deg);
}

.merch#books img:nth-child(2) {
    transform: translate(-126px, -299.5px) rotateZ(-48deg) scale(0.24) skewY(10deg);
}

.merch#shirt img {
    transform: translate(-149px, -137px) scale(0.56);
}

.merch#phone img {
    transform: translate(-154px, -135.5px) rotateZ(-28deg) scale(0.5) skewY(4deg) scale(0.9);
}

@media (max-width: 600px) and (orientation: portrait) {
    .flex-row {
        flex-direction: column;
        width: 100%;
    }

    #dragNdrop svg,
    #dragNdrop svg {
        padding: 15% !important;
    }

    .merch,
    #dragNdrop {
        margin-left: 0 !important;
        width: 100%;
    }

    .merch#books {
        height: 348px;
    }

    .merch#books .bg {
        background-size: 600px !important;
    }

    .merch#books img:first-child {
        transform: translate(-273px, -147.5px) rotateZ(-48deg) scale(0.19) skewY(10deg);
    }

    .merch#books img:nth-child(2) {
        transform: translate(-135px, -251px) rotateZ(-48deg) scale(0.17) skewY(10deg);
    }
}