:root {
  --transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#content {
  transition: var(--transition);
}

#content.zoom-out {
  transform: scale(.85);
}

#dialog {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: var(--transition);
  pointer-events: none;
  background-color: transparent;
}

#dialog.open {
  pointer-events: auto;
  background-color: rgba(30, 30, 30, .55);
}

#dialog #form {
  transition: var(--transition);
  opacity: 0;
  transform: scale(.8) translateY(150%);
}

#dialog.open #form {
  opacity: 1;
  transform: none;
}

@media screen and (min-width: 40rem) {
  #form {
    font-size: 1.25rem;
    font-size: 1.15vw;
  }
}

#form .label,
#form .checkbox-input+label,
#form .option-input+label,
#form .text-input,
#form .textarea,
#form .select,
#form .message,
#form .button {
  padding: 0.75em 1em;
  outline: none;
  line-height: normal;
  border-radius: 0;
  border: none;
  background: none;
  display: block;
}

#form .label {
  font-weight: bold;
  color: white;
  padding-top: 0;
  padding-left: 0;
  letter-spacing: 0.025em;
  font-size: 1.125em;
  line-height: 1.25;
}

.required #form .label:after,
#form .required .label:after {
  content: " *";
  color: #E8474C;
  font-weight: normal;
  font-size: 0.75em;
  vertical-align: top;
}

#form .checkbox-input+label,
#form .option-input+label,
#form .text-input,
#form .textarea,
#form .select {
  font: inherit;
  line-height: normal;
  width: 100%;
  box-sizing: border-box;
  background: #222222;
  color: white;
  position: relative;
}

#form .checkbox-input+label:placeholder,
#form .option-input+label:placeholder,
#form .text-input:placeholder,
#form .textarea:placeholder,
#form .select:placeholder {
  color: white;
}

#form .checkbox-input+label:-webkit-autofill,
#form .option-input+label:-webkit-autofill,
#form .text-input:-webkit-autofill,
#form .textarea:-webkit-autofill,
#form .select:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #111111 inset;
  -webkit-text-fill-color: white;
  border-top-color: #111111;
  border-left-color: #111111;
  border-right-color: #111111;
}

#form .checkbox-input+label:not(:focus):not(:active).error,
#form .option-input+label:not(:focus):not(:active).error,
#form .text-input:not(:focus):not(:active).error,
#form .textarea:not(:focus):not(:active).error,
#form .select:not(:focus):not(:active).error,
.error #form .checkbox-input+label:not(:focus):not(:active),
#form .error .checkbox-input+label:not(:focus):not(:active),
.error #form .option-input+label:not(:focus):not(:active),
#form .error .option-input+label:not(:focus):not(:active),
.error #form .text-input:not(:focus):not(:active),
#form .error .text-input:not(:focus):not(:active),
.error #form .textarea:not(:focus):not(:active),
#form .error .textarea:not(:focus):not(:active),
.error #form .select:not(:focus):not(:active),
#form .error .select:not(:focus):not(:active) {
  background-size: 8px 8px;
  background-image: linear-gradient(135deg, rgba(232, 71, 76, 0.5), rgba(232, 71, 76, 0.5) 25%, transparent 25%, transparent 50%, rgba(232, 71, 76, 0.5) 50%, rgba(232, 71, 76, 0.5) 75%, transparent 75%, transparent);
  background-repeat: repeat;
}

#form:not(.has-magic-focus) .checkbox-input+label:active,
#form:not(.has-magic-focus) .option-input+label:active,
#form:not(.has-magic-focus) .text-input:active,
#form:not(.has-magic-focus) .textarea:active,
#form:not(.has-magic-focus) .select:active,
#form:not(.has-magic-focus) .checkbox-input+label:focus,
#form:not(.has-magic-focus) .option-input+label:focus,
#form:not(.has-magic-focus) .text-input:focus,
#form:not(.has-magic-focus) .textarea:focus,
#form:not(.has-magic-focus) .select:focus {
  background: #4E4E4E;
}

#form .message {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
  font-size: 0.625em;
  color: white;
}

#form .checkbox-input,
#form .option-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#form .checkbox-input+label,
#form .option-input+label {
  display: inline-block;
  width: auto;
  color: #4E4E4E;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

#form .checkbox-input:focus+label,
#form .option-input:focus+label,
#form .checkbox-input:active+label,
#form .option-input:active+label {
  color: #4E4E4E;
}

#form .checkbox-input:checked+label,
#form .option-input:checked+label {
  color: white;
}

#form .button {
  font: inherit;
  line-height: normal;
  cursor: pointer;
  background: red;
  color: white;
  font-weight: bold;
  width: auto;
  margin-left: auto;
  font-weight: bold;
  padding-left: 2em;
  padding-right: 2em;
}

#form .button:hover,
#form .button:focus,
#form .button:active {
  color: white;
  border-color: white;
}

#form .button:active {
  position: relative;
  top: 1px;
  left: 1px;
}

#form {
  max-width: 50rem;
  padding: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #111111;
  font-family: "Titillium Web", sans-serif;
}

#form .field {
  width: 100%;
  margin: 0 0 1.5rem 0;
}

@media screen and (min-width: 40em) {
  #form .field.half {
    width: calc(50% - 1px);
  }
}

#form .textarea {
  max-width: 100%;
}

#form .select {
  text-indent: 0.01px;
  cursor: pointer;
}

#form .checkboxes,
#form .options {
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
}

#form .checkbox,
#form .option {
  float: left;
  margin: 1px;
}

.magic-focus {
  position: absolute;
  z-index: 0;
  width: 0;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.15);
  -webkit-transition: top 0.2s, left 0.2s, width 0.2s;
  transition: top 0.2s, left 0.2s, width 0.2s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  will-change: top, left, width;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}