:root {
  --transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1)
}

#content {
  transition: var(--transition)
}

#content.zoom-out {
  transform: scale(.85);
}

#dialog {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: var(--transition);
  pointer-events: none;
  background-color: transparent
}

#dialog.open {
  pointer-events: auto;
  background-color: rgba(30, 30, 30, .55)
}

#dialog #form {
  transition: var(--transition);
  opacity: 0;
  transform: scale(.8) translateY(150%)
}

#dialog.open #form {
  opacity: 1;
  transform: none
}

@media screen and (min-width:40rem) {
  #form {
    font-size: 2vh
  }
}

#form .button,
#form .checkbox-input+label,
#form .label,
#form .text-input,
#form .textarea {
  padding: .75em 1em;
  outline: 0;
  line-height: normal;
  border-radius: 0;
  border: none;
  background: 0 0;
  display: block
}

#form .label {
  font-weight: 700;
  color: #fff;
  padding-top: 0;
  padding-left: 0;
  letter-spacing: .025em;
  font-size: 1.125em;
  line-height: 1.25
}

#form .required .label:after,
.required #form .label:after {
  content: " *";
  color: #e8474c;
  font-weight: 400;
  font-size: .75em;
  vertical-align: top
}

#form .checkbox-input+label,
#form .text-input,
#form .textarea {
  font: inherit;
  line-height: normal;
  width: 100%;
  box-sizing: border-box;
  background: #222;
  color: #fff;
  position: relative
}

#form .checkbox-input+label:placeholder,
#form .text-input:placeholder,
#form .textarea:placeholder {
  color: #fff
}

#form .checkbox-input+label:-webkit-autofill,
#form .text-input:-webkit-autofill,
#form .textarea:-webkit-autofill {
  box-shadow: 0 0 0 1000px #111 inset;
  -webkit-text-fill-color: #fff;
  border-top-color: #111;
  border-left-color: #111;
  border-right-color: #111
}

#form .checkbox-input+label:not(:focus):not(:active).error,
#form .text-input:not(:focus):not(:active).error,
#form .textarea:not(:focus):not(:active).error {
  background-size: 8px 8px;
  background-image: linear-gradient(135deg, rgba(232, 71, 76, .5), rgba(232, 71, 76, .5) 25%, transparent 25%, transparent 50%, rgba(232, 71, 76, .5) 50%, rgba(232, 71, 76, .5) 75%, transparent 75%, transparent);
  background-repeat: repeat
}

#form:not(.has-magic-focus) .checkbox-input+label:active,
#form:not(.has-magic-focus) .checkbox-input+label:focus,
#form:not(.has-magic-focus) .text-input:active,
#form:not(.has-magic-focus) .text-input:focus,
#form:not(.has-magic-focus) .textarea:active,
#form:not(.has-magic-focus) .textarea:focus {
  background: #4e4e4e
}

#form .checkbox-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px
}

#form .checkbox-input+label {
  display: inline-block;
  width: auto;
  color: #4e4e4e;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer
}

#form .checkbox-input:active+label,
#form .checkbox-input:focus+label {
  color: #4e4e4e
}

#form .checkbox-input:checked+label {
  color: #fff
}

#form .button {
  font: inherit;
  cursor: pointer;
  background-color: #B71C1C;
  color: white;
  font-weight: bold;
  padding-left: 2rem;
  padding-right: 2rem;
  transition: .15s ease-in-out;
}

#form .button::before {
  content: "Gönder";
}

@keyframes fill-in {
  from {
    background-size: 0% 100%;
  }

  to {
    background-size: 500% 100%;
  }
}

#form .button.loading {
  background-image: linear-gradient(45deg, #1B5E20, transparent);
  background-repeat: no-repeat;
  animation: fill-in 4s ease-in-out both;
  cursor: not-allowed;
}

#form .button.loading::before {
  content: "Gönderiliyor...";
}

@keyframes fill-out {
  from {
    background-color: #1B5E20;
  }

  to {
    background-color: #B71C1C;
  }
}

#form .button.done {
  animation: fill-out 3s ease-in-out both;
}

@keyframes fill-out-text {
  from {
    content: "Gönderildi :)";
  }

  to {
    content: "Gönder";
  }
}

#form .button.done::before {
  animation: fill-out-text 3s ease-in-out both;
}

@keyframes shake {
  from {
    transform: translateX(-1%);
  }

  to {
    transform: translateX(1%);
  }
}

#form .button.error {
  animation: shake .15s ease-in-out 3;
}

@keyframes shake-text {
  from {
    content: 'Gönderilemedi :(';
  }

  to {
    content: 'Gönder';
  }
}

#form .button.error::before {
  animation: shake-text .15s 1s ease-in-out both;
}

#form .button:hover,
#form .button:focus,
#form .button:active {
  color: white;
  border-color: white;
}

#form .button:active {
  position: relative;
  top: 1px;
  left: 1px;
}

#form {
  max-width: 50rem;
  padding: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #111111;
  font-family: "Titillium Web", sans-serif;
}

#form .field {
  width: 100%;
  margin: 0 0 1.5rem 0;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 40em) {
  #form .field.half {
    width: calc(50% - 1px);
  }
}

#form .textarea {
  max-width: 100%;
  resize: none;
}

#form .select {
  text-indent: 0.01px;
  cursor: pointer;
}

#form .checkboxes,
#form .options {
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
}

#form .checkbox,
#form .option {
  float: left;
  margin: 1px;
}

.magic-focus {
  position: absolute;
  z-index: 0;
  width: 0;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.15);
  -webkit-transition: top 0.2s, left 0.2s, width 0.2s;
  transition: top 0.2s, left 0.2s, width 0.2s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  will-change: top, left, width;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}