@font-face {
    font-family: 'Whitney Light';
    src: url('../fonts/Whitney Light.ttf') format('truetype');
}

@font-face {
    font-family: Hind;
    src: url('../fonts/Hind.ttf') format('truetype')
}

@media (orientation:landscape) {
    :root {
        --transition: .25s cubic-bezier(0.83, 1.93, 0, -0.31);
    }
}

@media (orientation:portrait) {
    :root {
        --transition: .15s cubic-bezier(0.4, 0, 0.2, 1);
    }
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    background-color: #000;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    font-family: Hind;
    color: #fafafa;
    text-decoration: none;
    transition: var(--transition);
}

#menu {
    flex: 1;
    width: 100%;
}

#menu,
#menu li {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-evenly;
}

#menu li a {
    font-family: 'Whitney Light';
    font-size: 6vh;
    font-weight: 800;
    border-radius: 100vh;
    padding: 4vh;
    cursor: pointer;
    border: solid 0.4rem currentColor;
}

@media (orientation:landscape) {
    a:not(:hover) {
        border-color: transparent !important;
        filter: none !important;
        text-shadow: none !important;
        box-shadow: none !important;
    }
}

@media (orientation:portrait) {
    a:active {
        border-color: transparent !important;
        filter: none !important;
        text-shadow: none !important;
        box-shadow: none !important;
        transform: scale(.75);
    }
}

footer {
    width: 100vw;
    bottom: 0;
    position: fixed;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

footer .info,
footer .social {
    display: flex;
    height: max-content;
    align-items: center;
    justify-content: center;
}

footer .social {
    margin: 0 0 0.5rem 1rem;
}

footer .social a:first-child {
    margin-right: 1rem;
}

footer .social a svg {
    width: auto;
    height: 4vh;
    color: #fafafa;
}

footer .info {
    flex-direction: column;
    margin: 0 1rem 0.5rem 0;
}

footer .info a {
    font-size: 2.5vh;
    /* font-weight: bold; */
}

@media (orientation:portrait) {
    #menu {
        flex-direction: column;
    }

    footer {
        position: initial;
    }
}