@font-face {
    font-family: Hind;
    src: url('../fonts/Hind.ttf') format('truetype');
}

.logo {
    display: flex;
    bottom: 0;
    position: fixed;
    width: 100vw;
    justify-content: center;
    z-index: 2;
}

.logo a {
    color: #fff;
    font-size: 0.2in;
    font-family: Hind;
    text-decoration: none;
    pointer-events: auto;
    text-shadow: 0 0 5px black;
    user-select: none;
}

.logo a a2 {
    color: red
}

@media (orientation:portrait) {
    .logo {
        display: none;
    }
}