@font-face {
    font-family: 'california';
    src: url('fonts/SFUIDisplay-Light.woff') format('woff');
}

@font-face {
    font-family: 'Barlow Condensed SemiBold';
    src: url('../fonts/1.ttf') format('truetype');
}

@font-face {
    font-family: 'Hind';
    src: url('../fonts/Hind.ttf') format('truetype');
}

body {
    height: 100vh;
    margin: 0;
    /* background: url(../img/1.jpg);
    background-position: center;
    background-size: cover; */
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    align-items: center;
    background-position: center;
    background-size: cover;
    justify-content: center;
}

.swiper-slide-prev,
.swiper-slide-next {
    cursor: pointer;
}

#text-swiper {
    position: fixed;
    top: 0;
}

.slide-text {
    text-decoration: none;
    margin: 0 auto;
    font-family: 'Barlow Condensed SemiBold';
    color: #000;
    /* background-image: linear-gradient(rgb(24, 26, 27), rgb(24, 26, 27));
    background-size: 0% 100%;
    background-repeat: no-repeat; */
    pointer-events: none;
    touch-action: none;
    user-select: none;
    border-radius: 2rem;
    mix-blend-mode: screen;
    transition: 1s ease-in-out;
    backdrop-filter: invert(0);
    /* transition: none; */
}


@media (orientation:landscape) {
    .slide-text {
        font-size: 7vw;
    }
}

@media (orientation:portrait) {
    .slide-text {
        font-size: 7vh;
    }
}

.swiper-slide-active .slide-text {
    background-size: 100% 100%;
    pointer-events: all;
    touch-action: auto;
    backdrop-filter: invert(1);
    /* transition: background-size .7s cubic-bezier(.165, .84, .44, 1); */
}


@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.slide-text::after {
    content: "_";
}

.swiper-slide-active .slide-text::after {
    animation: blink .65s infinite;
}
#button-open-dialog {
    position: fixed;
    top: 0;
    outline: none;
    padding: 12px 30px;
    margin: 10px 20px;
    color: white;
    font-size: 1.2rem;
    font-family: "california";
    background-color: transparent;
    background-image: linear-gradient(rgb(24, 26, 27), rgb(24, 26, 27));
    background-size: 0% 100%;
    background-position: 0 100%;
    background-repeat: no-repeat;
    border: 1px solid rgba(255, 255, 255, .6);
    transition: background-size 0.7s cubic-bezier(.165, .84, .44, 1);
    cursor: pointer;
}

#button-open-dialog:hover {
    background-size: 100% 100%;
}

/* .button a::after {
    content: "";
}

.button a:hover::after {
    content: "_";
    animation: blink .65s infinite;
} */