@font-face {
    font-family: 'california';
    src: url('fonts/SFUIDisplay-Light.woff') format('woff');
}

@font-face {
    font-family: 'Whitney Light';
    src: url('../fonts/2.ttf') format('truetype');
}

@font-face {
    font-family: Hind;
    src: url('../fonts/Hind.ttf') format('truetype');
}

body {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 100vh;
    margin: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
}

.swiper-slide {
    display: flex;
    align-items: center;
    background-position: center;
    background-size: cover;
    justify-content: center;
}

.swiper-slide-prev,
.swiper-slide-next {
    cursor: pointer;
}

.slide-text {
    text-decoration: none;
    margin: 0 auto;
    font-family: 'Whitney Light';
    color: #fff;
    background-image: linear-gradient(rgb(24, 26, 27), rgb(24, 26, 27));
    background-size: 0% 100%;
    background-repeat: no-repeat;
    pointer-events: none;
    touch-action: none;
    user-select: none;
    transition: none;
}


@media (orientation:landscape) {
    .slide-text {
        font-size: 7vw;
    }
}

@media (orientation:portrait) {
    .slide-text {
        font-size: 7vh;
    }
}

.swiper-slide-active .slide-text {
    background-size: 100% 100%;
    pointer-events: all;
    touch-action: auto;
    transition: background-size .7s cubic-bezier(.165, .84, .44, 1);
}


@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.slide-text::after {
    content: "_";
}

.swiper-slide-active .slide-text::after {
    animation: blink .65s infinite;
}

#button-open-dialog {
    position: fixed;
    border: 0;
    color: black;
    mix-blend-mode: difference;
    font-size: x-large;
    font-family: "california";
    background-color: white;
    box-shadow: 0 0 2rem white;
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    z-index: 2;
    outline: none;
}

@media (orientation:portrait) {
    #button-open-dialog {
        align-self: center;
        right: 0;
        height: 15vh;
        border-radius: 2vh 0 0 2vh;
    }
}

@media (orientation:landscape) {
    #button-open-dialog {
        bottom: 0;
        width: 15vw;
        border-radius: 2vw 2vw 0 0;
    }
}

#dialog {
    position: absolute;
}

#button-close-dialog {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: white;
    border: none;
    color: black;
    padding: .5rem 0.75rem;
    border-radius: 0 0 0 50%;
}

svg {
    width: 1rem;
    height: auto;
}