@font-face {
    font-family: 'Whitney Light';
    src: url('../fonts/Whitney Light.ttf') format('truetype');
}

@font-face {
    font-family: Hind;
    src: url('../fonts/Hind.ttf') format('truetype')
}

:root {
    --transition: .25s cubic-bezier(0.83, 1.93, 0, -0.31);
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    background-color: #000000;
}

a {
    font-family: Hind;
    color: #fafafa;
    text-decoration: none;
    transition: var(--transition);
}

#menu {
    height: 100vh;
    color: #fafafa;
}

#menu,
#menu li {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-evenly;
}

#menu li a {
    font-family: 'Whitney Light';
    font-size: xxx-large;
    font-weight: bold;
    border-radius: 100vh;
    padding: 4vh;
    cursor: pointer;
    border: solid 0.4rem transparent;
}

@keyframes a-neon {

    0%,
    100% {
        filter: drop-shadow(0 0 .4rem blue);
    }

    33% {
        filter: drop-shadow(0 0 .4rem green);
    }

    66% {
        filter: drop-shadow(0 0 .4rem red);
    }
}

a:hover {
    animation: a-neon 15s infinite both;
}

@keyframes li-neon {

    0%,
    100% {
        filter: drop-shadow(0 0 2rem blue);
        text-shadow: 0 0 1rem blue;
        box-shadow: 0 0 2rem blue, inset 0 0 2rem blue;
    }

    33% {
        filter: drop-shadow(0 0 2rem green);
        text-shadow: 0 0 1rem green;
        box-shadow: 0 0 2rem green, inset 0 0 2rem green;
    }

    66% {
        filter: drop-shadow(0 0 2rem red);
        text-shadow: 0 0 1rem red;
        box-shadow: 0 0 2rem red, inset 0 0 2rem red;
    }
}

#menu li a:hover {
    animation: li-neon 15s infinite both;
    border-color: currentColor;
}

footer {
    width: 100vw;
    bottom: 0;
    position: fixed;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

footer .info,
footer .social {
    display: flex;
    height: max-content;
    align-items: center;
    justify-content: center;
}

footer .social {
    margin: 0 0 0.5rem 1rem;
}

footer .social a:first-child {
    margin-right: 1rem;
}

footer .social a svg {
    width: auto;
    height: 4vh;
    color: #fafafa;
}

footer .info {
    flex-direction: column;
    margin: 0 1rem 0.5rem 0;
}

footer .info a {
    font-size: 2.5vh;
    /* font-weight: bold; */
}

@media (orientation:portrait) {
    #menu {
        flex-direction: column;
    }
}