@font-face {
    font-family: 'Whitney Light';
    src: url('../fonts/Whitney Light.ttf') format('truetype');
}

@font-face {
    font-family: Hind;
    src: url('../fonts/Hind.ttf') format('truetype')
}

@keyframes neon {

    0%,
    100% {
        --neon-color: blue;
    }

    33% {
        --neon-color: green;
    }

    66% {
        --neon-color: red;
    }
}

:root {
    --transition: .25s cubic-bezier(0.83, 1.93, 0, -0.31);
    animation: neon 15s infinite;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    background-color: #000000;
}

#menu {
    height: 100vh;
    color: #fafafa;
}

#menu,
#menu li {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-evenly;
}

#menu li {
    font-family: 'Whitney Light';
    font-size: xxx-large;
    font-weight: bold;
    border-radius: 100vh;
    padding: 4vh;
    cursor: pointer;
    border: solid 0.4rem transparent;
}

#menu li,
a {
    transition: var(--transition);
}

a:hover {
    text-shadow: 0 0 1rem var(--neon-color);
    filter: drop-shadow(0 0 0.1rem var(--neon-color));
}

#menu li:hover {
    text-shadow: 0 0 1rem var(--neon-color);
    filter: drop-shadow(0 0 2rem var(--neon-color));
    box-shadow: 0 0 2rem var(--neon-color), inset 0 0 2rem var(--neon-color);
    border-color: currentColor;
}

footer {
    width: 100vw;
    bottom: 0;
    position: fixed;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

footer .info,
footer .social {
    display: flex;
    height: max-content;
    align-items: center;
    justify-content: center;
}

footer .social {
    margin: 0 0 0.5rem 1rem;
}

footer .social a:first-child {
    margin-right: 1rem;
}

footer .social a svg {
    width: auto;
    height: 4vh;
    color: #fafafa;
}

footer .info {
    flex-direction: column;
    margin: 0 1rem 0.5rem 0;
}

footer .info a {
    font-size: 1.8vh;
    font-weight: bold;
    font-family: Hind;
    color: #fafafa;
    text-decoration: none
}

@media (orientation:portrait) {
    #menu {
        flex-direction: column;
    }
}