@font-face {
    font-family: 'california';
    src: url('fonts/SFUIDisplay-Light.woff') format('woff');
}

@font-face {
    font-family: 'Whitney Light';
    src: url('../fonts/Whitney Light.ttf') format('truetype');
}

@font-face {
    font-family: Hind;
    src: url('../fonts/Hind.ttf') format('truetype');
}

body {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
}

#image-swiper {
    filter: blur(3px);
}

.swiper-slide {
    display: flex;
    align-items: center;
    background-position: center;
    background-size: cover;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.swiper-slide-prev,
.swiper-slide-next {
    cursor: pointer;
}

#image-swiper .swiper-slide {
    position: fixed;
    transform: none !important;
    opacity: 0 !important;
    transition: .4s cubic-bezier(0.42, 0.65, 0.27, 0.99) !important;
    box-shadow: inset 0 0 15vw 15vw rgba(0, 0, 0, .5);
}

@keyframes skew {
    from {
        transform: scaleX(1.2) skewX(5deg);
    }

    to {
        transform: none;
    }
}

#image-swiper .swiper-slide.swiper-slide-active {
    opacity: 1 !important;
    animation: skew .4s cubic-bezier(.215, .61, .355, 1);
}

.slide-text {
    text-decoration: none;
    margin: 0 auto;
    font-family: 'Whitney Light';
    color: #fff;
    background-image: linear-gradient(rgb(24, 26, 27), rgb(24, 26, 27));
    background-size: 0% 100%;
    background-repeat: no-repeat;
    pointer-events: none;
    touch-action: none;
    user-select: none;
    transition: none;
}


@media (orientation:landscape) {
    .slide-text {
        font-size: 5vw;
    }
}

@media (orientation:portrait) {
    .slide-text {
        font-size: 5vh;
    }
}

.swiper-slide-active .slide-text {
    background-size: 100% 100%;
    pointer-events: all;
    touch-action: auto;
    transition: background-size .7s cubic-bezier(.165, .84, .44, 1);
}


@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.slide-text::after {
    content: "_";
}

.swiper-slide-active .slide-text::after {
    animation: blink .65s infinite;
}

#button-open-dialog {
    position: fixed;
    border: 0;
    padding: 0;
    color: white;
    font-size: x-large;
    font-family: "california";
    background-color: #181a1b;
    z-index: 2;
    outline: none;
}

@media (orientation:portrait) {
    #button-open-dialog {
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 15vh;
        width: 10vw;
        border-radius: 3vh 0 0 3vh;
    }
}

@media (orientation:landscape) {
    #button-open-dialog {
        bottom: 0;
        width: 15vw;
        height: 10vh;
        border-radius: 3vw 3vw 0 0;
    }
}

#dialog {
    overflow: auto;
    background-color: #111111;
}

#form {
    padding: 0;
    margin: 0 auto;
}

@media (orientation:portrait) {
    #form .field {
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

@media (orientation:landscape) {
    #form .field {
        margin-left: 2vw;
        margin-right: 2vw;
    }
}

@media (orientation:landscape) {
    #form .label {
        font-size: 1.75vw;
    }
}

#button-close-dialog {
    position: sticky;
    top: 0;
    margin-left: auto;
    z-index: 1;
    background-color: white;
    border: none;
    color: black;
    padding: .5rem 0.75rem;
    border-radius: 0 0 0 50%;
    outline: none;
}

@media (orientation:portrait) {
    svg {
        width: 5vw;
        height: 5vw;
    }
    .logo {
        display: none;
    }
}

@media (orientation:landscape) {
    svg {
        width: 3vw;
        height: 3vw;
    }
}