@font-face {
    font-family: "Whitney Light";
    src: url('../fonts/Whitney Light.ttf') format('truetype')
}

@font-face {
    font-family: Hind;
    src: url('../fonts/Hind.ttf') format('truetype')
}

@keyframes blink {

    0%,
    100% {
        opacity: 1
    }

    50% {
        opacity: 0
    }
}

@keyframes blumb {
    from {
        transform: scaleX(1.2) skewX(5deg)
    }

    to {
        transform: scaleX(1)
    }
}

body {
    margin: 0;
    height: 100vh;
    background-color: #000
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.splide {
    height: 100vh;
    display: flex;
    align-items: center
}

.splide__slide {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-text {
    color: #fff;
    display: flex;
    margin: 0 7rem;
    font-family: "Whitney Light";
    font-size: 8vw;
    background-size: 0 100%;
    transition: none;
    background-position: 0 100%;
    background-repeat: no-repeat;
    padding: 0 7px 14px 3px;
    pointer-events: none;
    text-decoration: none;
    user-select: none;
}

.splide__slide.is-active .slide-text,
.slide-text:hover {
    background-image: linear-gradient(rgb(24, 26, 27), rgb(24, 26, 27));
    background-size: 100% 100%;
    transition: background-size 0.7s cubic-bezier(.165, .84, .44, 1);
    pointer-events: auto;
}

.slide-text::after {
    content: "_"
}

.splide__slide.is-active .slide-text::after {
    animation: blink .65s infinite;
}

.slide-img {
    width: 100vw;
    height: 100vh
}

#image-slider {
    position: fixed;
    top: 0;
    bottom: 0;
    filter: blur(3px)
}

#image-slider .splide__slide {
    box-shadow: inset 0 0 100rem 12rem rgba(0, 0, 0, .6);
    height: 100vh
}

#text-slider .splide__slide {
    width: max-content;
    border: 0;
    cursor: pointer
}

#image-slider .splide__slide.is-active {
    animation: blumb .4s cubic-bezier(.215, .61, .355, 1);
}